i{
    font-size: 3em; /* vaikuttaa ikoniin. Ikonit lasketaan tekstiksi -> fonttimääritykset */
}

#menu {
    display: none;
    border: 1px solid black;
    position: absolute; /* suhteessa parentiin, sitten lisämääritykset alla */
    left: 20px;
    top: 60px;
    background-color: bisque;
}

#menu.show { /* huom!! pelkkä .show ei toimi tässä */
    display: inline-block;
}