body{
    padding: 0px;
    margin: 0px;
}

body>img { /* bodyn suorat lapset */
    display: inline-block;
    height:100px;
    border: 1px solid black;
    margin: 10px;
}

#lightbox {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.504); /* viimeinen arvo läpinäkyvyys. Ei opacityna, jotta kuva ei meine läpinäkyväksi */
    position: fixed;
}

#lightbox.visible {
    display: flex;
}

#lightbox img {
    border: 2px solid white;
}

